{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
    "no-console":"off",
    "global-require":"off",
    "import/no-dynamic-require": "off"
  }
}